/* variables */
:root {
  --background-color: #daeaa1;
  --text-color: #575860;
  --second-color: #376ddb;
  --regular-size: 24px;
  --btn-border-radius: 10px;
  --regular-font: Poppins, 400, sans-serif;
  --second-font: Poppins, 600, sans-serif;
  --bold-font: Poppins, 800, sans-serif;
  --btn-font: Poppins, 500, sans-serif;
}

/* zeroing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  margin: 0;
  height: 100%;
  line-height: 1;
  font-family: Poppins;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
  color: antiquewhite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.header__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  font-weight: 600;
  font-size: 25px;
  font-family: cursive;
  color: var(--second-color);
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.header__logo:hover,
.header__logo:focus {
  font-size: 35px;
  transition: all 0.3s ease-in-out;
}
.menu__body {
  display: flex;
  flex-flow: row nowrap;
}
.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: var(--second-color);
  font-size: 20px;
  opacity: 0.7;
  transition: all 0.07s ease-in-out;
}
.menu__link:hover {
  opacity: 2;
}
.menu__icon {
  display: none;
}

.button {
  margin-left: 25px;
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--second-color);
  border-radius: 5px;
  border: 1px solid var(--second-color);
  color: var(--background-color);
  cursor: pointer;
  box-shadow: 0 2px 3px var(--second-color);
}
.button:hover,
.button:focus {
  outline: none;
  transform: scale(1.04);
  transition: all 0.07s ease-in-out;
  box-shadow: 0 4px 6px var(--second-color);
}

/* section hero */
.hero__container {
  max-width: 100%;
  min-height: 60vh;
  background: linear-gradient(rgb(0, 0, 0, 0.2), transparent),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slogan {
  font-weight: 800;
  font-size: 30px;
  border: 5px solid var(--background-color);
  padding: 15px 40px;
  margin-top: 100px;
  color: var(--background-color);
}
.hero__button {
  margin-top: 80px;
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--second-color);
  border-radius: 5px;
  border: 1px solid var(--second-color);
  color: var(--background-color);
  cursor: pointer;
  box-shadow: 0 2px 3px var(--second-color);
}
.hero__button:hover,
.hero__button:focus {
  outline: none;
  transform: scale(1.04);
  transition: all 0.07s ease-in-out;
  box-shadow: 0 4px 6px var(--second-color);
}
/* karusel */
.title__karusel {
  margin: 16px auto;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  opacity: 0.3;
}
.slide__container {
  background-color: #efefef;
}
.slide__content {
  /* margin: 0 40px; */
  width: 100%;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border-radius: 10%;
  background-color: #fff;
  width: 282px;
  margin-bottom: 75px;
  /* position: relative; */
}
.title__article {
  font-size: 18px;
  font-weight: 500;
}
.title__discription {
  font-size: 16px;
  font-weight: 400;
}
.title__price {
  font-size: 20px;
  font-weight: 600;
  color: var(--second-color);
}
.title__pax {
  font-size: 16px;
  font-weight: 400;
}
.image__content,
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.card__content {
  align-items: flex-start;
  line-height: 1.3;
}
.card__image {
  position: relative;
  /* height: 270px; */
  width: 250px;

  border-radius: 10%;
}
.card__image .card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 4px solid var(--second-color);
}
.card__image .card__img:hover,
.card__image .card__img:focus {
  border: 4px solid var(--background-color);
  transition: all 0.07s ease-in-out;
}
/* footer */
.footer {
  padding: 30px;
  background: #000c17;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 512px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media screen and (max-width: 511px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--second-color);
    z-index: 2;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 14, 14, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--background-color);
  }
  .menu__list > li {
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
  }
}
